<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <title>Books List</title>
</head>
<body>
    <section>
        <% booksArr.forEach(book=>{ %>
            <div>
     
            <img src="<%= book.cover %>" alt="https://i.imgur.com/J5LVHEL.jpg" >
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
    
            <p><%= book.description %></p>
        </div>
        <div>
            <form action="/books" method="POST">
                <input type="hidden" name="image" value="<%= book.cover %>">
                <input type="hidden" name="title" value="<%= book.title %>">
                <input type="hidden" name="auther" value="<%= book.author %>">
                <!-- <input type="hidden" name="date" value="<%= book.date %>"> -->
                <input type="hidden" name="description" value="<%= book.description %>">
                <button type="submit">Add this book</button>

            </form>
        </div>
        <% }) %>

    </section>

    
</body>
</html>