<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <title>Books List</title>
</head>
<body>
    <section>
        <% booksArr.forEach(book=>{ %>
            <div>
                <!-- "https://i.imgur.com/J5LVHEL.jpg" -->
            <img src=<%= book.cover %> alt="book" >
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
            <p><%= book.date %></p>
            <p><%= book.description %></p>
        </div>
        <% }) %>
    </section>
    
</body>
</html>