<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style/reset.css"> -->
    <link rel="stylesheet" href="style/base.css">
    <title>Book APP</title>
</head>
<body>
    <header> 
        <h1>
            Best Books!
        </h1>
    </header>
    <main>
        <a href="/searches/new"><h2>Search</h2></a>
        <section> 
             <% booksArr.forEach(item=>{ %>
                <div>
                    
                    <img src="<%= item.image_url %>" alt="https://i.imgur.com/J5LVHEL.jpg" >
                <h3><%= item.title %></h3>
                <p><%= item.author %></p>
               
                <button> <a href="/bookdetails/<%= item.id %>"> Details</a></button>
               
                <form action="/deletebook/<%=item.id%>?_method=delete" method="post">
                    <button id="btDelete">Delete Book</button>
                 </form>
        
            </div>
            <% }) %>
        </section>
    </main>



</body>
</html>